<div class="footer">
    <footer>
        <p>
            This site, as it stands now, is almost entirely a copy of a small site I worked on with <a href="https://github.com/Jacoby04">Jacob</a> as
            part of a software design course.<br>
	    Nothing on this website reflects the views or opinions of any entity other than myself.
            Content belongs to me unless otherwise stated. The website "theme" is all just basic html / css and stuff, feel free to use it.
        </p>
        <p>
            contact@nickelandli.me
        </p>
    </footer>
</div>
